from .local_base import *  # noqa

from decouple import config


ALLOWED_HOSTS = ['ghmonitor.local.com', 'localhost', '127.0.0.1', 'redis']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'ghmonitor',
        'USER': 'ghmonitor',
        'PASSWORD': 'ghmonitor',
        'HOST': 'localhost',
        'PORT': '5555',
    }
}
