from .local_base import *  # noqa

from decouple import config


ALLOWED_HOSTS = ['ghmonitor.local.com', 'localhost', '127.0.0.1']


CELERY_BROKER_URL = config('RABBITMQ_URL', default='amqp://localhost')


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'ghmonitor',
        'USER': 'ghmonitor',
        'PASSWORD': 'ghmonitor',
        'HOST': config('DATABASE_HOST', default='localhost'),
        'PORT': config('DATABASE_PORT', default='5555'),
    }
}

CELERY_TASK_ALWAYS_EAGER = False
